*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background:   #85acca;
}
#container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.square {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  background-color: #e7cc97;
}
.square:hover {
  background-color: #928162;
  color: white;
}
.ship {
  background-color: #544a37;
}
.hit {
  background-color: red;
}
.miss {
  background-color: white;
}
#playerOneBoard {
  margin: 10px;
  width: 300px;
  height: 300px;
  display: flex;
  flex-wrap: wrap
}
#playerTwoBoard {
  margin: 10px;
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
}
#playerTwoBoard .square {
  width: 50px;
  height: 50px;
}
#shipPlacement {
  width: 90%;
}
#shipPlacement h3 {
  margin: 10px;
}
#shipForm {
  margin-top: 10px;
  padding: 5px;
  float: right;
  font-size: 1.1em;
  border: 1px solid #000000;
  background-color: #556dcd;
}
#shipForm fieldset {
  padding: 5px;
  border-color: #544a37;
}
#shipForm button,
#shipForm input {
  font-size: 1.05em;
}
#shipForm button {
  margin: 5px 0;
  width: 110px;
  height: 33px;
  color: rgb(255, 255, 255);
  background-color: #7040ab;
  border: none;
}
.shipSelect {
  margin: 10px;
  width: 350px;
  height: 350px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.shipSelect .square {
  height: 35px;
  width: 35px;
  line-height: 35px;
}
.hide {
  display: none;
}
#invalidPlacement {
  color: red;
  font-size: 2em;
}
.winner {
  position: absolute;
  top: 25%;
  left: 38%;
  width: 300px;
  height: 300px;
  padding: 10px;
  border: 3px solid #544a37;
  background-color: #e7cc97;
  text-align: center;
  font-size: 2em;
}
.winner p {
  margin-top: 100px;
}
#rematchBtn {
  position: relative;
  top: 100px;
  height: 45px;
  width: 150px;
  font-size: .8em;
  color: white;
  background-color: #544a37;
  border: none;
}
h1 {
  width: 100%;
  margin: 20px;
  text-align: center;
}
